@using MultiShop.Dtos.ProductDtos
@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/Layout/Admin.cshtml";
}

<style>
    .custom-dropdown {
    width: 100%; /* Tam genişlik */
    max-width: 600px; /* Maksimum genişlik */
    padding-right: 10px; /* Sağ boşluk */
    box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
    }
</style>

<div class="col-md-12">
    <div class="chart-box">
        <h4>Ürün Ekleme</h4>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="chart-box">
                        <form method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="ProductName" placeholder="Ürün Adı">
                            </div>
                            @Html.DropDownListFor(x => x.CategoryID,
                                     (List<SelectListItem>)ViewData["CategoryList"],
                                     new { @class = "form-control custom-dropdown" })
                            <br />
                            <div class="form-group">
                                <textarea rows="5" class="form-control" name="ProductDescription" placeholder="Ürün Açıklaması"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="ProductPrice" placeholder="Ürün Fiyatı">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="ProductImageUrl" placeholder="Resim URL">
                            </div>
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- content -->
    </div>
</div>
