@using MultiShop.Dtos.ProductDtos
@model List<ProductResultDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Admin.cshtml";
    var count = 0;
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Kategori Listesi</h4>
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ürün Adı</th>
                        <th>Düzenle</th>
                        <th>Sil</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.ProductName</td>
                            <td><a class="btn btn-primary" href="/Admin/Category/UpdateCategory/@item.CategoryID">Düzenle</a></td>
                            <td>
                                <a class="btn btn-warning" href="/Admin/Category/DeleteCategory/@item.CategoryID">Sil</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <a href="/Admin/Product/CreateProduct/" class="btn btn-primary">Ürün Ekle</a>
    </div>
</div>

<script>
    function deleteCategory(categoryId) {
        if (confirm("Bu kategoriyi silmek istediğinize emin misiniz?")) {
            fetch(`/Admin/Category/DeleteCategory/${categoryId}`, {
                method: 'DELETE'
            }).then(() => {
                window.location.href = "/Admin/Category/Index";
            });
        }
    }
</script>
