@using MultiShop.Dtos.ProductImagesDtos
@model ResultProductImageDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Admin.cshtml";
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Kategori Ekleme</h4>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="chart-box">
                        <form method="post">
                            <div class="form-group">
                                <input type="image" class="form-control" >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="ImageUrl" placeholder="Kategori Görsel">
                            </div>
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- content -->
    </div>
</div>

