@using MultiShop.Dtos.ProductImagesDtos
@model List<ResultProductImageDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Admin.cshtml";
    string productId = "";
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Kategori Ekleme</h4>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    productId = item.ProductId;

                    <div class="col-md-12">
                        <div class="chart-box">
                            <!-- Benzersiz ID'yi her form için kullanıyoruz -->
                            <form method="post" enctype="multipart/form-data" id="uploadForm-@item.ProductImageId">
                                <div class="form-group">
                                    <input type="hidden" name="productId" value="@item.ProductId" />
                                    <input type="hidden" name="ProductImageId" value="@item.ProductImageId" />
                                    <img src="@item.ProductImages" class="form-control" style="height: 100px; width: 100px;" alt="Product Image" />
                                    <input type="file" name="productImage" onchange="submitForm('@item.ProductImageId')" />
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
            <a href="/Admin/ProductImages/AddProductImages/@productId">
                <button type="submit" class="btn btn-success">Yeni görsel ekle</button>
            </a>
        </section>
        <!-- content -->
    </div>
</div>

<script>
    function submitForm(productImageId) {
        var formId = 'uploadForm-' + productImageId;
        var form = document.getElementById(formId);
        if (form) {
            form.submit();
        } else {
            console.error('Form bulunamadı: ' + formId);
        }
    }
</script>
