@using MultiShop.Dtos.CategoryDto
@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Admin.cshtml";
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Kategori Listesi</h4>
        <p>Kategori ile alakalı işlemlerinizi tablo üzerinden gerçekleştirebilirsiniz.</p>
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kategori Adı</th>
                        <th>Kategoriye Ait Ürünler</th>
                        <th>Düzenle</th>
                        <th>Sil</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.CategoryID</th>
                            <td>@item.CategoryName</td>
                            <td><a class="btn btn-success">Kategoriye ait ürünler</a></td>
                            <td><a class="btn btn-primary" href="/Admin/Category/UpdateCategory/@item.CategoryID">Düzenle</a></td>
                            <td>
                                <a class="btn btn-warning" href="/Admin/Category/DeleteCategory/@item.CategoryID">Sil</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
      
            </div>
        <a href="/Admin/Category/CreateCategory/" class="btn btn-primary">Kategori Ekle</a>
    </div>
</div>

<script>
    function deleteCategory(categoryId) {
        if (confirm("Bu kategoriyi silmek istediğinize emin misiniz?")) {
            fetch(`/Admin/Category/DeleteCategory/${categoryId}`, {
                method: 'DELETE'
            }).then(() => {
                window.location.href = "/Admin/Category/Index";
            });
        }
    }
</script>