@using MultiShop.Dtos.CategoryDto
@model UpdateCategoryDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Layout/Admin.cshtml";
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Kategori Listesi</h4>
        <p>Kategori ile alakalı işlemlerinizi tablo üzerinden gerçekleştirebilirsiniz.</p>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="chart-box">
                        <form method="post">
                            <div class="form-group">
                                <input type="text" readonly class="form-control" id="CategoryName" name="CategoryID" value="@Model.CategoryID">
                                <br />
                                <input type="text" read class="form-control" id="CategoryName" name="CategoryName" value="@Model.CategoryName">
                            </div>
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- content -->
    </div>
</div>
