@using MultiShop.Dtos.AboutDtos
@model ResultAboutDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Admin.cshtml";
}
<div class="col-md-12">
    <div class="chart-box">
        <h4>Hakkımızda </h4>
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Açıklama</th>
                        <th>Adres</th>
                        <th>Telefon Numarası</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td scope="row">@Model.Description</td>
                            <td scope="row">@Model.Address</td>
                            <td scope="row">@Model.PhoneNumber</td>
                            <td><a class="btn btn-primary" href="/Admin/About/UpdateAbout/@Model.id">Düzenle</a></td>
                        </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>



