    <!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/adidas.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/koctas.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/ikea.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/lacoste.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/online-shop-website-template/img/nike.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->