<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_AdminHeadComponentPartial")

<body class="sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        @await Component.InvokeAsync("_AdminHeaderComponentPartial")

        <!-- Left side column. contains the logo and sidebar -->
        @await Component.InvokeAsync("_AdminSidebarComponentPartial")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @await Component.InvokeAsync("_AdminSectionComponentPartial")

            <!-- Main content -->
            <section class="content container-fluid">
                <div class="row">
                    @RenderBody()     
                </div>
            </section>
            <!-- content -->
        </div>
        <!-- content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer dark-bg">
            <div class="pull-right hidden-xs"> Version 1.0</div>
            Copyright &copy; 2017 Yourdomian. All rights reserved.
        </footer>
    </div>
    <!-- wrapper -->
    <!-- jQuery -->
    <script src="~/AdminTemplate/html/dist/js/jquery.min.js"></script>
    <script src="~/AdminTemplate/html/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/AdminTemplate/html/dist/js/ovio.js"></script>
</body>
</html>