@using MultiShop.Dtos.OfferDiscountDtos
@model List<ResultOfferDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Admin.cshtml";
}
<div class="col-md-12">
    <div class="chart-box">
        <h4>Özel Teklif Listesi</h4>
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Alt Başlık</th>
                        <th>Düzenle</th>
                        <th>Sil</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OfferDiscountSubTitle</td>
                            <td>@item.OfferDiscountSubTitle</td>
                            <td><a class="btn btn-primary" href="/Admin/OfferDiscount/UpdateOfferDiscount/@item.OfferDiscountId">Düzenle</a></td>
                            <td>
                                <a class="btn btn-warning" href="/Admin/OfferDiscount/DeleteOfferDiscount/@item.OfferDiscountId">Sil</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <a href="/Admin/OfferDiscount/AddOfferDiscount/" class="btn btn-primary">Özel teklif Ekle</a>
    </div>
</div>
